@{
    ViewData["Title"] = "Erro na compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erro ao efetuar compra</h1>
<h4>Motivos possíveis: Saldo ou Stock insuficientes</h4>

<div>
    <a asp-controller="CategoriesToUser" asp-action="Index">Regressar</a>
</div>