@{
    ViewData["Title"] = "Erro na compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erro ao efetuar compra</h1>
<h4>Motivos possíveis:</h4>
<p>Saldo insuficiente: <a asp-controller="Wallet" asp-action="Deposit">Depositar</a></p>
<p>Stock insuficiente: <a asp-controller="CategoriesToUser" asp-action="Index">Voltar</a></p>
