@model EditUserBalanceViewModel

@{
    ViewData["Title"] = "Depositar saldo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erro a efetuar compra</h1>
<h1>Razões possíveis: Saldo insuficiente</h1>

<div>
    <a asp-controller="CategoriesToUser" asp-action="Index">Regressar</a>
</div>