@model Feirum.Models.FavoriteFair

@{
    ViewData["Title"] = "Adicionar favoritos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Adicionar <span style="color: rgb(225, 193, 110); font-weight: bold;">@ViewBag.FairName</span> aos favoritos
</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="FairId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
