@model Feirum.Models.FavoriteFair

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Remover feira da sua lista de favoritos?</h3>
<div>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="FairId" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
