@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>A sua conta contém dados pessoais. Esta página permite transferir ou apagar esses dados.</p>
        <p>
            <strong>Apagar estes dados resultará na remoção permanente da sua conta. Esta ação é irreversível.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Transferir</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Apagar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
