@model EditUserBalanceViewModel

@{
    ViewData["Title"] = "Depositar saldo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erro no levantamento de saldo:</h1>
<h4>@ViewBag.ErrorMessage</h4>
<a asp-controller="Wallet" asp-action="Withdraw" class="btn btn-primary">Levantar com nova quantia</a>